.film_title{
 font-size: 15px;
 font-family: Arial;
 color: #034ea2;
}
.film_date{
 margin: 3px 0px;
 font-size: 14px;
}
.film_content_txt{
 font-size: 12px;
}

/* //-- List */
.film_list_container{
 float: left;
 width: 310px;
 padding: 5px;
 margin-bottom: 5px;
}
.film_list_title{
 font-size: 14px;
 color: #034ea2;
 font-family: Arial;
}
.film_list_date{
 font-size: 12px;
 color: #153E74;
 padding: 2px 0px;
}
.film_screen{
 width: 210px;
 margin: 5px 0px;
 padding: 3px;
 border: 1px solid #ddd;
 margin-bottom: 10px;
 cursor: pointer;
}