#mapBox {
  width: 98%;
  height: 600px;
  border: 5px solid #aaa;
  border-radius: 5px;
  background: #eee url('../images/ajax-loader.gif') no-repeat center center;
  overflow: visible;
}
#mapBox div{
 overflow: visible;
}
#mapSimpleBox{
  width: 600px;
  height: 420px;
  border: 1px solid black;
  background: gray;
  margin: 0 auto 0 auto;
  overflow: visible;
  float:left;
}
#mapSimpleBox div{
 overflow: visible;
}
#interfaceBox {
  width: 98%;
  clear: both;
  border: 3px solid #aaa;
  border-radius: 7px;
}
#optionsBox{
 padding: 15px 0;
}
#legend{
 background: #0B5AA7;
 padding: 10px;
 border-radius: 5px;
 color: #fff;
 font-size: 15px;
 float: left;
}
#selectBox {
 float: left;
 margin-top: 5px;
 margin-right: 56px;
 color: #4C57B8;
 font-weight: bold;
 font-size: 12px;
}
#selectBox form {
 float: left;
 margin-left: 5px;
}
#selectBox select {
 color: #4C57B8;
 width: 235px;
 background: #FFFFD7;
 border: 1px solid #aaa;
}
#allLayers {
 width: 100%;
 overflow: auto;
 float: left;
 /*background: url('../images/interface_box_bg.png') repeat-x bottom left;*/
 background: #f7f7f7;
}
.allLayersControl  {
 margin: 0 0 2px 0;
 padding: 0 0 7px 0;
 border-bottom: 1px dashed #ccc;
}
.allLayersControlCheckbox {
 float: left;
}
.allLayersControlButton {
 float: left;
 margin: 2px 0 0 0px;
}
.allLayersControlButton input {
 border: 0;
 background: #f7f7f7;
 cursor: pointer;
 color: #4C57B8;
 font-weight: bold;
}
.layerItem {
 width: 100%;
 float:left;

}
.layerItemShort {
 width: 48%;
}
.layerIcon {
 vertical-align: middle;
 border: 0px;
}
.lineItems {
 margin-left: 25px;
}
.lineItem {
 margin-bottom: 5px;
}
.lineItemColor {
 float: left;
 width: 35px;
 height: 15px;
 margin-top: 3px;
}
.lineItemDesc {
 margin-left: 42px;
}
.align_middle {
 vertical-align: middle;
}
.input_button {
 margin:0px;
 padding-left: 0px;
 color: #4C57B8;
 font-weight: bold;
 background: transparent;
 border: 0px;
 text-align: left;
 padding: 0px;
 cursor: pointer;
}
.marker_window{ 
 padding: 7px;
 width: 350px;
 padding-bottom: 20px; 
 line-height:1.35;
 overflow:hidden;
 white-space:nowrap;   
}
.marker_title {
 padding-bottom: 2px;
 margin-bottom: 4px;
 border-bottom: 2px solid #1892D6;
 white-space: normal;   
}