html, body{
	width: 100%;
	height: 100%;
}

body{
	margin: 0;
}
input[type="button"]{
	margin: 0;
	padding: 0;
}

img{
	border: 0;
}

ul{
	list-style-type: square;
	padding: 0;
	margin: 0 0 0 17px;
	text-align: left;
}
ol{
	text-align: left;
}

li{
	margin-top: 3px;
	margin-bottom: 3px;
}

hr{
    color: #D0D0D0;
    height: 1pt;
}

form{
	margin: 0;
}

.square{
	width: 5px;
	height: 5px;
	background: #525250;
}

.border{
	border: #A8A8A8 1px solid;
}

.notice{
	padding: 20px;
	text-align: center;
}


/* --- bg --- */
.bg {
	background: #ededed;
}
/* --- center --- */
.center{
	text-align: center;
}

/* --- vertical --- */

.verticalM{
	vertical-align: middle;
}

/* --- table (table = tableA) --- */

.table, .tableA{
	width: 100%;
	margin: 0 auto;
}

.table, .tableA, .tableB, .tableC, .tableD{
    border-collapse: collapse;
    background-color: #ffffff;
}
table td{
	text-align: left;
    font-size: 11px;
}

.table td, .table th, .tableA td, .tableA th, .tableB td, .tableC th, .table03 td, .tableD th{
	text-align: left;
    padding: 5px;
}

.tableD td, .tableD th{
    padding: 0px;
}

.table td, .table th, .tableA td, .tableA th, .tableC td, .tableC th{
	border: #CCCCCC 1px solid;
}

.tableB td, .tableB th, .tableD td, .tableD th{
	border: 0px;
}

/* CALENDAR */
#calendarPanel {
 padding: 5px 5px 0px 5px;
 margin-bottom: 15px;
}
#calendarPanel table.calendar {
 width: 100%;
 margin: 0px;
 border-spacing: 8px 4px;
 border-collapse: seperate !important;
 background: transparent;
}
#calendarPanel table.calendar td {
 text-align: center;
 padding: 2px 6px;
 font-size: 12px;
}
#calendarPanel table.calendar td.day {
 color: #333;
}
#calendarPanel table.calendar td.event{
  padding: 1px 5px;
  border: 1px solid #cccccc;
}
#calendarPanel table.calendar td.today {
  /*color: #2F9DD3;*/
  color: #fff;
  background-color: #21614c;
}
#calendarPanel table.calendar td.today a{
  color: #fff;
}
#calendarPanel table.calendar td a{
  /*color: #fff;*/
  color: #333;
  font-size: 12px;
}
.calendarHRow {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  width: 100%;
}
.calendarH{
 display: table-cell;
 font-size: 12px;
 text-align: center;
 padding: 0 10px;
 color: #000;
}

/* Tiny tip Calendar */
.tinyTip {
 width: 225px;
 padding: 0px 28px 0px 0px;
 display: block;
 background: transparent url('../../data/layout/www/calendar_cloud_bg.png') no-repeat top right;
}
.tinyTip .content {
 min-height: 200px;
 padding: 0px 10px;
 font-size: 11px;
 color: #010101;
 background: #FBFBFB;

 border: 1px solid #E5E5E5;
 border-right: 0px;

 border-top-left-radius: 7px;
 border-bottom-left-radius: 7px;
}
.tinyTip .content h3 {
 height: 100%;
 padding: 5px 0px;
 margin: 0px;
 font-size: 15px;
 font-weight: normal;
 color: #21614c;
}
.tinyTip .content .load-ajax {
 text-align: center;
 margin-top: 50px;
 margin-left: 35px;
 width: 110px;
 height: 75px;
 background: url('../../data/layout/www/ajax-loader.html') no-repeat center center;
}
.tinyTip .content ul {
  margin-left: 15px !important;
  list-style-image: url('../../data/layout/www/list_square.jpg');
}
.tinyTip .content ul {
 width: 140px;
}
.tinyTip .bottom {
 height: 0px;
}
/* -- DATEPICKER -- */
#ui-datepicker-div {
 min-width: 250px;
 background: #21614c;
 color: #fff;
 padding: 4px;
 border-radius: 4px;
}
#ui-datepicker-div a {
 color: #fff;
 cursor: pointer;
}
.ui-datepicker-control {
 padding: 2px;
}
.ui-datepicker-control .ui-datepicker-clear {
 float: left;
}
.ui-datepicker-control .ui-datepicker-close {
 float: right;
}
.ui-datepicker-links {
 position: relative;
 height: 0px;
 overflow: visible;
}
.ui-datepicker-links .ui-datepicker-prev {
 position: absolute;
 left: 2px;
 top: 2px;	
 width: 16px;
 height: 20px;
}
.ui-datepicker-links .ui-datepicker-prev a {
 display: block;
 width: 100%;
 height: 100%;
 background: url('../../data/layout/www/month_prev_gray.png') no-repeat center center;
 background-size: 100% 100%;
 cursor: pointer;
}
.ui-datepicker-links .ui-datepicker-next {
 position: absolute;
 right: 2px;
 top: 2px;
 width: 16px;
 height: 20px;
}
.ui-datepicker-links .ui-datepicker-next a {
 display: block;
 width: 100%;
 height: 100%;
 background: url('../../data/layout/www/month_next_gray.png') no-repeat center center;
 background-size: 100% 100%;
 cursor: pointer;
}
.ui-datepicker-links .ui-datepicker-current {
 display: none;
 text-align: center;
 width: 40%;
 margin-left: 30%;
 margin-right: 30%;
}
.ui-datepicker-header {
 width: 100%;
 text-align: center;
 padding: 2px;
}
table.ui-datepicker {
 width: 100%;
}
table.ui-datepicker td {
 text-align: center;
}

/* -- PAGINATION -- */
div.pagination {
 margin: auto;
 width: auto;
}
div.pagination a{
 border: 1px solid #21614c;
 float: left;
 padding: 2px 6px;
 margin: 0px 2px;
 display: block;
 width: 12px;
 height: 14px;
 color: #21614c;
 text-align: center;
}
div.pagination span.current{
 border: 1px solid #21614c;
 background: #21614c;
 color: #fff;
 float: left;
 padding: 2px 4px;
 margin: 0px 2px;
 display: block;
 width: 14px;
 height: 14px;
 text-align: center;
}