/* MAP */
#mapSimpleBox{
  width: 98%;
  height: 400px;
  border: 1px solid #ccc;
  background: #dfdfdf;
  margin: 0;
  overflow: visible;  
}
#mapSimpleBox div{
 overflow: visible;
}
.marker_window{ 
 padding: 7px;
 width: 320px;
 padding-bottom: 20px;
 line-height:1.35;
 overflow:hidden;
 white-space:nowrap;  
}
.marker_title {
 padding-bottom: 2px;
 margin-bottom: 4px;
 border-bottom: 2px solid #1892D6;
 white-space: normal;    
}