.notices_title{
 font-size: 14px;
 padding: 5px 0px;
 color: #333;
}
.notices_date{
 font-size: 11px;
 padding-bottom: 5px;
 color: #656565;
}
.notice_container{
 padding: 10px 0px;
 margin: 5px 0px;
 border-bottom: 1px dotted #ccc;
}
.notice_container:hover{
 background: #F8F8F8;
}
.notice_list_more{
 display: block;
 padding-right: 12px;
 margin-top: 5px;
 float: right;
 /*color: #0B97E4;*/
 color: #21614c;
 background: url('../../../../data/layout/www/arrow_black.jpg') no-repeat center right;
}