#calendar_table{
 padding-right: 5px;

}
#calendar_table p{
 margin: 0px;
 padding: 0px 0px 6px 0px;
}
.calendar_title{
 display: block;
 padding: 8px 0px;
 font-size: 16px;
 font-family: Arial;
 /*color: #0B97E4;*/
 color: #21614c;
 }
span.calendar_date{
 font-size: 15px;
 font-family: Arial;
 color: #222;
}
.calendar_img {
 float: left;
 padding: 2px;
 border: 1px solid #ccc;
 margin: 10px 10px 0px 0px;
 text-align: center;
}
.calendar_label {
 width: 20%;
 vertical-align: top;
 font-size: 14px;
 font-family: Arial;
 color: #333;
}
.long{
 width: 100%;
}
#calendar_month_select{
  float: right;
  z-index: 10;
  width: 260px;
  margin: 10px 0px;
  padding: 10px;
  padding-left: 10px;
  background: #F5F6F1;
  border: 1px solid #F1EEE6;
}
#calendar_panel_container {
  clear: both;
  margin: 10px 0px;
}
table.calendar{
 margin-left: 0px;
}

/* MAP */
#mapSimpleBox{
  width: 98%;
  height: 400px;
  border: 1px solid #ccc;
  background: #dfdfdf;
  margin: 0;
  overflow: visible;  
}
#mapSimpleBox div{
 overflow: visible;
}
.marker_window{ 
 padding: 7px;
 width: 320px;
 padding-bottom: 20px;
 line-height:1.35;
 overflow:hidden;
 white-space:nowrap;  
}
.marker_title {
 padding-bottom: 2px;
 margin-bottom: 4px;
 border-bottom: 2px solid #1892D6;
 white-space: normal;   
}