.news_title{
 float: left;
 font-size: 14px;
 padding: 5px 0px;
 width: 480px;
 font-weight: bold;
 color: #1E4B72;
}
.news_date{
 float: right;
 font-size: 15px;
 border-left: 1px dotted #ccc;
 padding: 5px 5px;
}
.news_container{
 clear: both;
 border-top: 1px dotted #ccc;
 padding: 10px 0px;
}
.news_img{
 float: left;
 padding: 2px;
 margin-right: 12px;
}
.news_img a{
 float: left;
 display: block;
 padding: 3px;
}
.news_img a img{
 padding: 3px;
 border: 2px solid #eee;
}
.news_content{
 line-height: 18px;
}
.news_gallery{
 margin-top: 10px;
}
.news_gallery a{
 float: left;
 display: block;
 margin: 2px 0px;
 margin-right: 2px;
 padding: 0px;
}
.news_gallery a img{
 padding: 1px;
 border: 1px solid #ccc;
}
#news_month_select{
  margin: 15px 0px;
  padding: 10px;
  padding-left: 130px;
  background: url('../../../../data/layout/www/select_bg.html') no-repeat left center;
}


/* //-- News List */
.news_list_container{
 border-bottom: 1px dotted #ccc;
 margin: 7px 0px;
 padding: 5px;
}
.news_list_container:hover{
 background: #F8F8F8;
}
.news_list_title{
 float: left;
 width: 230px;
}
.news_list_title a{
 font-size: 14px;
 color: #1E4B72;
}
.news_list_date{
 font-size: 12px;
 color: #777;
 padding: 4px 0px;
}
.news_list_text{
 border-left: 1px solid #ccc;
 padding-left: 15px;
 color: #444;
}
.news_list_text p{
 padding: 0px;
 margin: 0px;
}
.news_list_more{
 display: block;
 padding-right: 12px;
 margin-top: 5px;
 float: right;
 color: #21614c;
 background: url('../../../../data/layout/www/arrow_black.jpg') no-repeat center right;
}
.news_list_previous{
 display: block;
 padding-right: 12px;
 margin-top: 5px;
 float: right;
 color: #21614c;
 background: url('../../../../data/layout/www/arrow_black.jpg') no-repeat center right;
}

.gallery_list_container{
 float: left;
 width: 310px;
 height: 150px;
 sborder-top: 1px solid #ccc;
 cborder-right: 1px solid #ccc;
 padding: 5px;
 cursor: pointer;
}

