body, p, a, h1, h2, h3, h4, h5, h6, ul, li, div, span, table, tr, td, th{
	background: #222 !important;
	color: yellow !important;
	line-height: 1.5em !important;
	/*height: auto !important;*/
}
a{
	color: yellow !important;
	text-decoration: underline !important;
	font-weight: bold !important;
}
div#contrast_switch{
    padding: 15px;
    text-align: center;
    border: 1px solid #e8e8e8;
    background: #777;
}
div#contrast_switch a{
    font-size: 22px;
}
div#top_nav_right{
  	width: 650px;
}
div#header_title {
    margin-left: 0px;
    width: 450px;
    position: relative;
}
div#header_date{
     position: relative;
     float: right;
}
div#header_title h1{
	display: block;
	font-size: 24px !important;
}
#header{
	height: 200px !important;
}
#main_menu{
	margin-top: auto !important;
}
#main_menu div.menu_item{
	border: 1px solid yellow !important;
}
#main_menu div.menu_item div.menu_item_drop{
	border: 1px solid yellow !important;
}
#main_menu div.menu_item_drop_container{
   height: 250px !important;

}
.tabs_menu_item_over{
	display: none !important;
}
.searcher_input{
 color: #000;
 paddding: 10px;
}
.banners_home a{
 height: auto;
 margin: 0 2px;
 text-align: center;
 border: 1px solid #e8e8e8;
}
.home_box_header{
 font-size: 16px !important;
 border: 1px solid #e8e8e8;
}

div#subpage_text ul,
div#subpage_text ul li{
	list-style-type: circle !important;
}