@font-face {
    font-family: 'Swis721';
    src: url('../../../data/fonts/Swis721-webfont.eot');
    src: url('../../../data/fonts/Swis721-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../../../data/fonts/Swis721-webfont.woff') format('woff'),
         url('../../../data/fonts/Swis721-webfont.html') format('truetype'),
         url('../../../data/fonts/Swis721-webfont.svg#NeoSansProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'TrajanPro';
	src: url('../../../data/fonts/TrajanProRegular.eot');
	src: url('../../../data/fonts/TrajanProRegular86d7.eot?iefix') format('embedded-opentype'),
		 url('../../../data/fonts/TrajanProRegular.woff') format('woff'),
		 url('../../../data/fonts/TrajanProRegular.html') format('truetype'),
		 url('../../../data/fonts/TrajanProRegular-2.html#NeoSansProRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/** COMMON STYLES */
body {
  margin: 0px;
  padding: 0px;
  color: #333;
  background: #fff;
  font-size: 11px;
  font-family: Arial;
}
div {
  overflow: hidden; /* for FF, Opera */
}
img {
  border: 0px;
}
a {
  font-size: 11px;
  color: #1E4B72;
  text-decoration: none;
}
p {
  margin: 8px 0px;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  outline: none;
}
form {
  padding: 0px;
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
li {
  margin: 0px;
  padding: 5px 2px;
}
input, textarea {
  font-family: Arial;
  font-size: 12px;
}
/** MAIN */
#wrapper_top{
}
#wrapper_bottom{
}
#wrapper {
  text-align: center;  
}
#container {
  padding: 0px;
  background: transparent;
  /*width: 1050px;*/
  margin: auto;
  text-align: left;
  position: relative;
}
#main {
  width: 80%;
  min-width: 320px;
  margin: 0px auto;
  padding: 0px 10px 0px 10px;
  padding-bottom: 2px;
  margin-bottom: 2px;
}
#main_top_border{
  height: 10px;
  width: 100%;
  background: transparent url('../../../data/layout/www/top_line.png') no-repeat center top;
}
.main_top_border{
  height: 2px;
  width: 100%;
  background: transparent url('../../../data/layout/www/top_hr_%5bGRAY%5d.png') no-repeat center top;
}

#main_news_border {
  height: 10px;
  width: 100%;
  background: transparent url('../../../data/layout/www/top_hr.png') no-repeat center top;
  background-size: 100% 4px;
}

#main_news_title {
  font-family: Calibri, Swis729;
  font-size: 12px;
  width: 100%;
  margin-bottom: 8px;
}
#main_news {
  position: relative;
}

/** HEADER */
#header {
  padding: 0 30px 5px 30px;
  background: url('../../../data/banners/banner_header.png') no-repeat center right;
  background-size: 60% 100%;
  background-position-x: 110%;
  background-color: #21614c;
  min-height: 220px;
  overflow: visible;
  margin-top: 40px;
}
#header_left {
  float: left;
  width: 68%;
  margin-top: -40px;
  overflow: visible;
  background: url('../../../data/layout/www/header_55.html') no-repeat top right;
  background-position-x: 500px;
  background-position-y: 50px;
  background-size: auto 60%;
  
}
#header_right {
  float: right;
  width: 32%;
  margin-top: -40px;
  overflow: visible;
}
#header_title {
  width: 460px;
  height: 115px;
  padding: 0px;
  background: transparent url('../../../data/layout/www/logo.png') no-repeat top left;
  cursor: pointer;
  margin-top: 60px;
  margin-left: 30px;
}
#header_title h1{
  display: none;
}
/* TOP MENU */
#top_nav{
  height: 40px;
  float: left;
}
#top_nav a{
  float: left;
  display: block;
  padding: 10px 32px;
  font-family: Calibri;
  font-size: 12px;
  color: #000;
}
#top_nav span{
  float: left;
  display: block;
  padding: 10px 2px;
  color: #333;
}

#header_info {
  margin: 5px 10px;
  color: #000;
  text-align: right;
  font-family: Calibri;
  min-width: 180px;
}
#air_info {
  margin-top: 30px;
  height: 30px;
}
#air_info div {
  padding: 4px;
  background-color: #21614c;
  color: #fff;
  display:inline-block;
}
#air_info div.bardzo_dobry {
  background-color: #57b108;
}
#air_info div.dobry {
  background-color: #b0dd10;
}
#air_info div.umiarkowany {
  background-color: #ffd911;
}
#air_info div.dostateczny {
  background-color: #e58100;
}
#air_info div.zly {
  background-color: #e50000;
}
#air_info div.bardzo_zly {
  background-color: #990000;
}
#air_info a {
  font-size: 12px;
  color: #fff;
}
#header_55 {
  margin-left: -400px;
  margin-top: -34px;
  width: 170px;
  height: 160px;
  background: url('../../../data/layout/www/header_55.html') no-repeat center center;
  background-size: 100% auto;
}


/* ICONS LINKS */
#iconLinks{
  float: left;
  margin-top: 30px;
  display: flex;
}
#iconLinks a{
  float: left;
  margin: 0px 7px;
  color: #fff;
  font-family: TrajanPro;
  display: flex;
  align-items: center;
}
#iconLinks .menu_icon_separator {
  float: left;
  width: 7px;
  height: 56px;
  background: transparent url('../../../data/layout/www/menu_separator.png') no-repeat center center;
}
#iconLinks .menu_icon_text {
  margin: 4px;
}
#iconLinks button {
  background: none;
  cursor: pointer;
  border: none;
  padding: 0;	
}
#iconLinks img {
  max-width: 36px;
  max-height: 36px;
}

/* SEARCHER*/
#searcher {
  float: right;
  margin-top: 120px;
  margin-right: 220px;
  width: 460px;
  height: 35px;
  padding: 9px 12px;
  background: url('../../../data/layout/www/search_bg1.png') no-repeat;
  background-size: 100% 100%;
}
#searcher form {
  width: 100%;
}
#searcher .searcher_input{
  border: none;
  outline: none;
  font-size: 12px;
  color: #888;
  width: 62%;
  margin-top: 10px;
  margin-left: 8%;
}
#searcher .searcher_input:focus {
  border: none;
  outline: none;
}
.searcher_input{
  border: 1px solid #eee;
  font-size: 12px;
  color: #888;
  width: 265px; 
}

.searcher_submit{
  width: 24%;
  margin-left: 4%;
  color: #333;
  background: transparent;
  border: 0px;
  border: none;
  outline: none;
  width: 24%;
  margin-left: 4%;
  cursor: pointer;
}
#search_nav {
  border-bottom: 1px solid #cfcdc7;
}
#search_nav .search_input {
  display: block;
}
#search_nav .search_input div {
  display: inline-block;
  margin: 0 4px;
}
#search_nav .search_input input {
  border: 1px solid #cfcdc7;
  padding: 2px;
  margin: 0;
  width: 265px;
}
#search_nav .search_label {
  padding: 2px;
}
#search_nav .search_button {
  width: 70px;
}
#search_nav .search_button input {
  width: 70px;
  padding: 3px;
  border: none;
  border-radius: 8px;
  color: #fff;
  background: #21614c;
  cursor: pointer;
}
#search_nav .search_categories {
  display: inline-block;
  font-size: 11px;
}
#search_nav .search_categories div {
  display: inline-block;
  margin: 0 4px;
}
#search_nav .search_categories input {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}
#search_nav .search_categories button {
  font-size: 11px;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  color: #7e7e7e;
  cursor: pointer;
}
#search_nav .search_categories button.active {
  border-bottom: 3px solid #21614c;
  color: #000;
}
#search_nav .search_categories button:hover {
  text-decoration: underline;
}
#search_nav .search_date {
  display: inline-block;
  font-size: 11px;
  margin-left: 8px;
  margin-right: 4px;	
}
#search_nav .search_date div {
  display: inline-block;
}
#search_nav .search_date input {
  max-width: 120px;
  padding: 0;
  margin: 0;
}
#search_nav .search_sort {
  display: inline-block;
  font-size: 11px;
  margin-left: 8px;
  margin-right: 4px;	
}
#search_nav .search_sort select {
  font-size: 11px;
}
#search_nav .search_sort option {
  font-size: 11px;
}
#search_nav .search_sort div {
  display: inline-block;
}
#search_nav .search_sort input {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}


/* MAIN MENU */
#main_menu{
  height: 40px;
  width: fit-content;
  /*max-width: 1080px;*/
  /*margin: 0px 25px;*/
  margin: 0px auto;
  margin-bottom: 1px;
  padding: 4px;
  /*padding-left: 32px;*/
}
#main_menu .main_menu_item{
  float: left;
  color: #21614c;
  padding: 4px 15px;
  cursor: pointer;
  font-size: 16px;
  font-family: Calibri, Swis721;
  cursor: pointer;
}
.main_menu_item_text{
  color: #333;
  text-align: center;
  padding: 6px 15px;
  spadding-right: 11px;
  font-size: 16px;
}
.main_menu_item_text:hover{
  color: #333;
  text-align: center;
  font-size: 16px;
  color: #fff;
  padding: 8px 13px;
  border: 1px solid #21614c;
  border-radius: 5px;
  background: #21614c;
  margin-top: -4px;
}
#main_menu .main_menu_separator{
  float: left;
  width: 7px;
  height: 56px;
  background: transparent url('../../../data/layout/www/menu_separator.png') no-repeat center center;
}
#main_menu .main_menu_over {
  position: absolute;
  z-index: 12;
  margin-top: -30px;
  margin-left: -27px;
  display: none;
}
.main_menu_over_left{
  width: 25px;
  height: 73px;
  float: left;
  background: url('../../../data/layout/www/menu_item_left.png') no-repeat 0 0;
}
.main_menu_over_right{
 width: 25px;
 height: 73px;
 float: left;
 background: url('../../../data/layout/www/menu_item_right.png') no-repeat 0 0;
}
.main_menu_over_middle{
 float: left;
 height: 50px;
 padding: 0px 7px;
 padding-top: 23px;
 background: url('../../../data/layout/www/menu_item_middle.png') repeat-x top left;
}
.main_menu_over_middle a {
 display: block;
 color: #333;
 text-align: center;
 font-size: 15px;
 color: #fff;
 padding: 10px;
 border: 1px solid #21614c;
 border-radius: 5px;
 background: #21614c;
}
.main_menu_over_middle a:hover {
 text-decoration: none;
}
#main_menu .main_menu_drop {
 position: absolute;
 left: 16px;
 z-index: 11;
 /*margin-top: 39px;*/
 margin-top: 33px;
 display: none;
}
.main_menu_drop_top{
 width: 1016px;
 height: 18px;
 background: url('../../../data/layout/www/menu_drop_top.png') no-repeat 0 0;
}
.main_menu_drop_middle{
 width: 1016px;
 background: url('../../../data/layout/www/menu_drop_middle.png') repeat-y 0 0;
}
.main_menu_drop_middle_content{
 margin: 0px 20px;
 padding: 10px;
 background: #F1F1F1 url('../../../data/layout/www/menu_drop_middle_content_bg.png') repeat-x 0 0;
 border-radius: 10px;
}
.main_menu_drop_container{
 float: left;
 width: 215px;
 margin-right: 15px;
}
.main_menu_drop_title{
 color: #215745;
 font-family: Swis721;
 font-size: 16px;
 padding: 4px 0px;
}
.main_menu_drop_content{
 margin: 0px;
}
.main_menu_drop_content ul li {
 padding-left: 18px;
 background: url('../../../data/layout/www/menu_drop_item_bg.png') no-repeat  0px center;
}
.main_menu_drop_content ul li.more_links {
 background: none;
}
.main_menu_drop_content ul li a{
  display: block;
  padding: 4px 0px;
  padding-left: 4px;
  font-family: Arial;
  font-size: 12px;
  color: #333;
  border-bottom: 1px solid #d9d9d9;
}
.main_menu_drop_content ul li a:hover{
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border-bottom: 1px solid #2c6351;
  background-color: #265949;
}
.main_menu_drop_content ul li.more_links  a{
 border-bottom: 0;
 width: 75px;
 padding: 5px 8px;
 color: #fff;
 background: url('../../../data/layout/www/menu_drop_more_bg.png') no-repeat  0px center;
}
.main_menu_drop_content ul li.more_links  a:hover{
 color: #000;
}
.main_menu_drop_bottom{
 width: 1016px;
 height: 18px;
 background: url('../../../data/layout/www/menu_drop_bottom.png') no-repeat 0 0;
}

/** CONTENT */
#content {
   padding: 10px;
   min-height: 450px;
}
/* CONTENT TOP */
#content_top {
  clear: both;
  position: relative;
  background: #fff;
  padding: 2px 10px;
}

/* CONTENT MIDDLE */
#content_middle {
  clear: both;
  margin-top: 2px;
}

.content_line_hr {
	height: 6px;
	width: 100%;
	background: transparent url('../../../data/layout/www/top_hr.png') no-repeat center center;
	background-size: 100% 4px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.home_left {
  float: left;
  width: 640px;
}
.home_right {
  float: left;
  width: 305px;
}
.home_left_l {
	float: left;
	min-width: 710px;
	width: 75%;
}
.home_right_s {
	float: left;
	min-width: 240px;
	width: 25%;
}

.home_left_xs {
	float: left;
	width: 175px;
	border-right: 1px solid #cfcdc7;
}
.home_left_c {
	display: table-cell;
	width: 225px;
	border-right: 1px solid #cfcdc7;
	vertical-align: top;
}
.home_right_c {
	display: table-cell;
	vertical-align: top;
	width: 100%;
}
.home_box{
 float: left;
 width: 305px;
}
.home_box_header{
 height: 24px;
 padding: 6px 0 0 30px;
 /*color: #fff;*/
 color: #000;
 font-size: 14px;
 font-family: Calibri, Swis721;
}
.home_box_content{
 background: #fff;
 padding: 10px;
 font-family: Calibri;
 color: #656769;
}
.home_box_content_title{
 color: #958B82;
 font-size: 20px;
 font-family: Calibri, Swis721;
 text-align: center;
}

.home_box_header a {
	font-size: 14px;
	color: #000;
}

.home_right_c .home_box {
	width: calc(100% - 250px);
	min-width: 275px;
}

.home_box_m{
	float: left;
	width: 240px;
}
.home_box_s{
	float: left;
	width: 245px;
}
.home_box_xs{
	float: left;
	width: 175px;
}
.home_box_movie {
	float: left;
	width: calc(100% - 250px);
	min-width: 265px;
	min-height: 280px;
	margin: 0 auto;
}
.home_box_movie .home_box_header {
}
.home_box_movie .home_box_content {
	position: relative;
	min-height: 240px;
	padding: 0;
	margin: 10px;
	margin-top: 17px;
}

.home_box_movie iframe {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
}
.home_box_history {
  float: left;
  width: 245px;
  min-height: 240px;
}
.home_box_history .home_box_content {
  margin-top: 60px;
  padding: 1px;
}
.home_box_history a {
  display: block;
  width: 100%;
}
.home_box_history a img {
  width: 100%;
  height: auto;
}

.home_box_calendar {
	float: left;
	width: calc(100% - 250px);
	min-width: 265px;
	min-height: 360px;
}

.home_newsletter_mail_row {
	width: 170px;
	height: 36px;
	border: 1px solid #e5e5e5;
}

.home_newsletter_mail {
	width: 130px;
	height: 100%;
	border: none;
	border-right: 1px solid #e5e5e5;
	font-size: 12px;
	font-family: Calibri, Swis721;
	color: #000;
}
.home_newsletter_submit {
	width: 32px;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	background: url('../../../data/layout/www/arrow_black2.png') no-repeat center center;
}
.home_newsletter_submit:hover {
	cursor: pointer;
}
.home_newsletter_row {
	font-family: Calibri, Swis729;
	font-size: 12px;
	font-weight: bold;
	color: #656769;
	width: 100%;
	margin-top: 12px;
	margin-bottom: 8px;
}
.home_newsletter_row a {
	font-family: Calibri, Swis729;
	font-size: 12px;
	font-weight: bold;
	color: #656769;
}
.home_newsletter_readed_row {
	font-family: Calibri, Swis729;
	font-size: 11px;
	color: #656769;
	width: 100%;
	margin-top: 12px;
	margin-bottom: 8px;
}


.home_newsletter_readed {
	position: relative;
	width: 24px;
	height: 24px;
	display: inline-block;
}

.home_newsletter_readed input {
	position: absolute;
	z-index: 2;
	width: 24px;
	height: 24px;
	border: 0;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	opacity: 0;
	
}
.home_newsletter_readed input + label {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	display: inline-block;
	background: #e5e5e5;
	width: 22px;
	height: 22px;
	border: 1px solid #b6b6b6;
	margin: 0;
	padding: 0;
}
.home_newsletter_readed input:hover {
	cursor: pointer;
}

.home_newsletter_readed input:checked + label {
	background: url('../../../data/layout/www/icon_agree.png') no-repeat center center;
	height: 24px;
	width: 24px;
	border: none;
	display: inline-block;
}


div.BoxAlert {
	color: red;
}

/* SLIDER */
#slider{
 float: left;
 width: 55%;
 min-width:300px;
 max-width: 600px;
 height: 45%;
 min-height: 400px;
 position:relative;
 overflow:hidden;
}
.slider_title{
 width: 458px;
 height: 24px;
 padding: 6px 0 0 22px;
 color: #fff;
 font-size: 14px;
 font-family: Calibri, Swis721;
 background:  url('../../../data/layout/www/box_header_slider.png') no-repeat left top;
}
.slider_content{
 font-family: Calibri;
}
.slide_item{
 height: 100%;
 width: 100%;
}
.slide_item_content{
 min-width: 300px;
 width: 100%;
}
#slider .slide_item_content {
 background: #fff;
}
.slide_item_date{
 float: right;
 font-size: 12px;
 color: #3BB6F9;
 margin: 5px 5px;
 padding-left: 25px;
}
.slide_item_title{
 font-size: 16px;
 color: #656769;
 margin: 4px 10px 2px 10px;
 padding: 0px;
}
#slider .slide_item_title {
 max-width: 100%;
 white-space: nowrap;
 word-wrap: break-word;
 overflow: hidden;
 display: inline-block;
 text-overflow: ellipsis;
}
#slider .slide_item_title a {
 max-width: 100%;
 white-space: nowrap;
 word-wrap: break-word;
 overflow: hidden;
 display: inline-block;
 text-overflow: ellipsis;
}
#slider .slide_item_title a{
 font-size: 16px;
 font-weight: bold;
 color: #656769;
}

.slide_item_text{
 margin: 0px 10px;
 padding: 2px 0px;
 color: #656769;
 font-size: 14px;
 line-height: 16px;
 max-height: 32px;
 word-wrap: break-word;
 text-align: justify;
}
.slide_item_image{
 min-width: 300px;
 width: 100%;
 max-height: 100%;
}
.slide_item_image img{
 min-width: 300px;
 width: 100%;
 max-height: 100%;
}
.slider_item_more{
 clear: both;
 color: #fff;
 padding: 5px 20px 5px 16px;
 display: block;
 float: right;
 background:  url('../../../data/layout/www/slider_more_bg.png') no-repeat right center;
}
#slidePager{
 position: absolute;
 z-index: 10;
 top: 20px;
 left: 10px;
}
#slidePages{
 display: inline-block;
 margin: 0px;
}
#slidePages a{
 display: block;
 float: left;
 padding: 7px 7px;
 color: #fff;
 text-align: center;
 font-size: 12px;
 font-family: Verdana;
 background: url('../../../data/layout/www/slider_pager_item_g.png') no-repeat center center;
 margin: 0px 5px;
}
#slidePages a.activeSlide{
 color: #000;
 background: url('../../../data/layout/www/slider_pager_item_hg.png') no-repeat center center;
}
#slider_play {
  /*
  position: absolute;
  top: 22px;
  left: 180px;
  */
  display: inline-block;
  width: 21px;
  height: 28px;
  z-index: 10;
  margin-left: 8px;
}

#main_news #slider_play {
}
#main_news #slider_play div {
  margin: 0 auto;
  width: 21px;
  height: 27px;
  background-size: 100% 100%;
}
#main_news #slider_play div.slider_paused {
  background: url('../../../data/layout/www/slider_play.png') no-repeat center center;
  background-size: 100% 100%;
}
#main_news #slider_play div.slider_paused:hover {
  background: url('../../../data/layout/www/slider_play_h.png') no-repeat center center;
  background-size: 100% 100%;
  cursor: pointer;
}
#main_news #slider_play div {
  background: url('../../../data/layout/www/slider_pause.png') no-repeat center center;
  background-size: 100% 100%;
}
#main_news #slider_play div:hover {
  background: url('../../../data/layout/www/slider_pause_h.png') no-repeat center center;
  background-size: 100% 100%;
  cursor: pointer;
}



/* // SLIDER */

/* HOME NEWS */
#home_news{
 font-family: Calibri;
 float: right;
 width: 43%;
 min-width: 250px;
 margin-left: 1%;
}
.home_news_item{
 font-family: Calibri;
 margin: 0px;
}
.home_news_item_title{
 font-size: 14px;
 padding-bottom: 2px;
 font-weight: bold;
}
.home_news_item_title a{
 font-size: 14px;
 font-weight: bold;
 color: #656769;
}
.home_news_item_data {
 float: right;
 font-size: 10px;
 color: #656769;
}
.home_news_item_line {
	height: 2px;
	width: 100%;
	background: url('../../../data/layout/www/top_hr_s_%5bGRAY%5d.png') no-repeat center top;
	background-size: 100% auto;
	margin: 5px 0;
}

.home_news_item_image{
 float: left;
}
.home_news_item_image img{
 max-width: 125px;
 max-height: 56px;
 padding: 1px;
 border: 1px solid #ddd;
}
.home_news_item_date{
 font-size: 11px;
 padding: 0px 3px;
 color: #0491E0;
}
.home_news_item_text{
 font-size: 13px;
 padding: 3px;
 
 line-height: 16px;
 max-height: 32px;
 word-wrap: break-word;
 overflow: hidden;
 text-align: justify;
 /*display: inline-block;*/
}

.home_news_more{
 margin-top: 16px;
 clear: both;
}
.home_news_more a{
 float: right;
 /*color: #DA3F42;*/
 color: #21614c;
}

/* QUESTIONS */
#question{
 margin: 19px 0;
}
#question_image{
 float: left;
 position: relative;
 width: 100%;
}
#question_image img {
 max-width: 100%;
}
#question_image a {
 font-size: 12px;
 color: #fff;
} 
#question_image div {
 position: absolute;
 top: 100px;
 left: 0;
 right: 0;
 font-size: 12px;
 font-weight: bold;
 background: #9a9a9a;
 color: #fff;
 padding: 6px;
 margin: 0 auto;
 text-align:center;
}

#question_buttons{
 float: right;
 width: 140px;
}
#question_buttons a{
 display: block;
 font-size: 11px;
 color: #333;
 padding: 10px 0px 10px 33px;
 margin: 15px 0;
 background: url('../../../data/layout/www/button_burmistrz.png') no-repeat center right;
}
#question_buttons a:hover{
 text-decoration: none;
 color: #fff;
 background: url('../../../data/layout/www/button_burmistrz_h.png') no-repeat center right;
}
#question_searcher {
 width: 150px;
 height: 28px;
 border: 1px solid #e5e5e5;
}


#question_searcher form {
 /*width: 270px;*/
 width: 100%;
 height: 100%;
}
.question_searcher_input{
 border: none;
 border-right: 1px solid #e5e5e5;
 font-size: 12px;
 color: #888;
 width: 120px;
 height: 100%;
}
.question_searcher_submit{
 width: 24px;
 height: 100%;
 padding: 0;
 margin: 0;
 border: none;
 background: url('../../../data/layout/www/icon_search.png') no-repeat center center;
}
.question_searcher_submit:hover {
 cursor: pointer;
}

.home_question_row {
 width: 100%;
 text-align: center;
 margin-top: 16px;
 margin-bottom: 16px;
 color: #fff;
 background-color: #9a9a9a;
 padding-top: 6px;
 padding-bottom: 6px;
 border-radius: 8px;
}
.home_question_row a {
 font-size: 18px;
 font-weight: bold;
 color: #fff;
}

.home_question_answer_row {
 width: 100%;
 text-align: center;
 margin-top: 16px;
 margin-bottom: 16px;
 color: #fff;
 background-color: #9a9a9a;
 padding-top: 6px;
 padding-bottom: 6px;
 border-radius: 8px;
}
.home_question_answer_row a {
 font-size: 16px;
 color: #fff;
}



/* GALLERY */
#gallery{
 position: relative;
 width: 85%;
 min-width: 200px;
 min-height: 236px;
 padding: 7px;
 padding-right: 25px;
 overflow: visible;
}
#gallery_slider{
 margin: 0px;
}
#gallery2{
 position: relative;
 padding: 2px;
 width: 90%;
 overflow: visible;
 min-width: 200px;
 min-height: 160px;
 max-height: 180px;
 padding-right: 25px;
}
#gallery_slider2{
 margin: 0px;
}
#gallery_slider2 .gallery_slider_item {
 width: 100%;
}
#gallery_slider2 .gallery_slider_image {
 width: 100%;
}
#gallery_slider2 .gallery_slider_image img {
 width: 100%;
 max-height: 100%;
}
#gallery_slider2 .gallery_slider_title {
 width: 100%;
 margin-bottom: 8px;
}
#gallery_slider_pager2 {
 position: absolute;
 top: 20px;
 right: 0px;
 text-align: center;
 width: 25px;
 z-index: 10;
}
#gallery_slide_pages2 {
}
#gallery_slide_pages2 a {
 float: left;
 margin-top: 4px;
 margin-bottom: 4px;
 background-color: #fff;
 border: 1px solid #cccccc;
 color: #000;
 padding: 1px 7px;
}
#gallery_slide_pages2 a.activeSlide {
 background-color: #21614c;
 color: #fff; 
}


.gallery_slider_item{
 padding: 0px;
 min-height: 220px;
}
.gallery_slider_image{
 padding: 0px;
}
.gallery_slider_image img{
 width: 100%;
 max-height: 100%;
}
.gallery_slider_title{
 padding: 2px 0px 0px 0px;
 font-size: 12px;
 width: 100%;
}
.gallery_slider_date{
 font-size: 12px;
 padding: 1px 0px;
}

#gallery_slide_pages {
 display: block;
 float: left;
}
#gallery_slide_pages a {
 float: left;
 margin: 4px;
 background-color: #fff;
 border: 1px solid #cccccc;
 color: #000;
 padding: 1px 7px;
}
#gallery_slide_pages a.activeSlide {
  background-color: #21614c;
  color: #fff;
}


#gallery_slider_pager {
  position: absolute;
  bottom: 0px;
  left: 2px;
  text-align: center;
  z-index: 10;
}



#gallery_slider_play {
  float: left;
  display: block;
  margin-top: 3px;
  margin-left: 16px;
  width: 21px;
  height: 18px;
  border: 1px solid #ccc;
  z-index: 20;
}


#gallery #gallery_slider_play {
	background: #21614c;
}

#gallery #gallery_slider_play div {
	margin: 0 auto;
	width: 21px;
	height: 18px;
	background-size: 100% 100%;
}

#gallery #gallery_slider_play div.slider_paused {
	background: url('../../../data/layout/www/slider_play.png') no-repeat center center;
	background-size: 100% 100%;
}
#gallery #gallery_slider_play div.slider_paused:hover {
	background: url('../../../data/layout/www/slider_play_h.png') no-repeat center center;
	background-size: 100% 100%;
	background-color: #eee;
	cursor: pointer;
}
#gallery #gallery_slider_play div {
	background: url('../../../data/layout/www/slider_pause.png') no-repeat center center;
	background-size: 100% 100%;
}
#gallery #gallery_slider_play div:hover {
	background: url('../../../data/layout/www/slider_pause_h.png') no-repeat center center;
	background-size: 100% 100%;
	background-color: #eee;
	cursor: pointer;
}








#gallery_slider_play2 {
 border: 1px solid #ccc;
 width: 19px;
 height: 18px;
 margin-top: 8px;
 z-index: 20;
}


#gallery2 #gallery_slider_play2 {
	background: #21614c;
}
#gallery2 #gallery_slider_play2 div {
	margin: 0 auto;
	width: 19px;
	height: 18px;
	background-size: 100% 100%;
}
#gallery2 #gallery_slider_play2 div.slider_paused {
	background: url('../../../data/layout/www/slider_play.png') no-repeat center center;
	background-size: 100% 100%;
}
#gallery2 #gallery_slider_play2 div.slider_paused:hover {
	background: url('../../../data/layout/www/slider_play_h.png') no-repeat center center;
	background-size: 100% 100%;
	background-color: #eee;
	cursor: pointer;
}
#gallery2 #gallery_slider_play2 div {
	background: url('../../../data/layout/www/slider_pause.png') no-repeat center center;
	background-size: 100% 100%;
}
#gallery2 #gallery_slider_play2 div:hover {
	background: url('../../../data/layout/www/slider_pause_h.png') no-repeat center center;
	background-size: 100% 100%;
	background-color: #eee;
	cursor: pointer;
}



/* NOTICES */
#list_notices{
 margin: 0px;
}
#list_notices li{
 padding: 4px 0px;
 margin: 0px;
}
.notice_item{
 padding: 4px 2px 4px 15px;
}
.notice_date{
 padding: 3px 0;
 font-weight: bold;
}
.notice_item a{
 font-size: 13px;
 color: #656769;
}
.notice_text{
 padding: 5px 0px;
}
.list_notices_more{
 float: right;
 margin-top: 5px;
 /*color: #DA3F42;*/
 color: #21614c;
}
.notices_header a{
	font-size: 14px;
	color: #000;
}

/* INFO TABLE */
#list_table{
 margin: 0px;
 padding: 5px 5px;
}
#list_table li{
 padding: 8px 4px 8px 36px;
 margin: 10px 2px;
 background: url('../../../data/layout/www/icon_pin.png') no-repeat -4px center;
 background-size: 40px 40px;
 border: 1px solid #CAC3BD;
}
#list_table li a{
 color: #21614c;
 font-size: 12px;
}
#list_table li:hover, #list_table li:hover a{
 color: #fff;
 /*background-color: #3BB6F9;*/
 background-color: #21614c;
 text-decoration: none;
}

/* CALENDAR */
#calendar{
 margin-bottom: 0px;
 width: 100%;
 max-width: 400px;
 margin: 0 auto;
}
#calendarLink{
 height: 40px;
 cursor: pointer;
}
#calendar_items{
 margin: 0px 0px;
 color: #656769;
}
#calendar_items li{
 margin: 0px;
 padding: 8px 20px 7px 20px;
 border-bottom: 1px solid #cfcdc7;
}
.calendar_item_date{
 padding: 2px 0px;
 font-size: 12px;
 font-weight: bold;
}
.calendar_item_date span{
}
.calendar_item_title{
 font-size: 12px;
}
.calendar_item_title a{
 font-size: 13px;
 color: #555;
}
.calendar_item_desc{
 padding: 2px 0;
}

#calendarM{
 height: 32px;
 background:  #fff;
}
.calendarMName{
 text-align: center;
 padding: 7px 0px;
 font-family: Arial;
}
.calendarMName a{
 font-size: 13px;
 font-family: Arial;
}
a.calendarMPrevoius {
 display: block;
 float: left;
 color: #EC681D;
 font-size: 14px;
 width: 21px;
 height: 27px;
 margin-left: 30px;
 background: url('../../../data/layout/www/month_prev.png') no-repeat center center;
}
a.calendarMNext {
 display: block;
 float: right;
 font-size: 14px;
 color: #EC681D;
 width: 21px;
 height: 27px;
 margin-right: 30px;
 background: url('../../../data/layout/www/month_next.png') no-repeat center center;
}

/* BANNERS HOME */
.banners_home{
}
.banners_home a{
 float: left;
 display: block;
 width: 98%;
 max-width: 290px;
 max-height: 177px;
 margin: 12px 4px;
}
.banners_home a img {
	max-width: 100%;
}

.banners_home .column {
    width: calc(100%/3);
    float: left;
}
.banners_home_footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.banners_home_footer a {
	display: flex;
	align-items: center;
	width: auto;
	height: 92px;
	float: none;
	padding-left: 8px;
	margin-left: 4px;
	margin-right: 4px;
	border-left: 1px solid #ccc;
}

.banners_home_footer a:first-child {
	border-left: none;
	padding-left: 0;
}

.banners_home_separator {
	width: 1px;
	height: 100%;
	background-color: #ccc;
}

/* SUBPAGES */
#subpage{
 padding: 10px;
 background: #fff;
 border-radius: 10px;
}
#subpage_left{
 float: left;
 width: 280px;
}
#subpage_content{
 padding-left: 20px;
 min-height: 700px;
 min-width: 320px;
 background: url('../../../data/layout/www/subpage_content_bg.jpg') no-repeat left 10px;
}
#subpage_text{
 clear: both;
 background: transparent;
 font-size:12px;
}
#subpage_text a, table td {
  font-size: 12px;
}
#subpage_text  ul{
  margin-left: 20px;
  list-style-image: url('../../../data/layout/www/list_square.jpg');
}
#page_title{
  color: #5E524A;
  font-weight: normal;
  font-size: 22px;
  margin: 5px 0px;
  font-family: Verdana;
}
.path{
 padding: 5px 0px;
 border-bottom: 1px solid #CFCDC7;
 color: #7E7E7E;
 margin-bottom: 5px;
}
.path a{
 color: #7E7E7E;
}
#bar_icons{
  float: right;
  height: 40px;
}
#bar_icons a{
  font-size: 11px;
  margin: 0px 2px;
}
/* MENU LEFT */
#menu_left{
 padding: 20px 20px 10px 10px;
}
#menu_left_title{
 margin-bottom: 20px;
 font-size: 21px;
 font-family: Swis721;
 color: #21614c;
}
#menu_left ul{
 margin: 0px;
}
#menu_left ul li{
 margin: 7px 0px;
 padding: 0px;
}
#menu_left ul li a{
 display: block;
 padding: 1px 0px 6px 23px;
 color: #21614c;
 font-size: 13px;
 border-bottom: 1px solid #E0E0E0;
 background: url('../../../data/layout/www/menu_left_item_bg.jpg') no-repeat;
}
#menu_left ul li a:hover, .menu_left ul li a._h{
 text-decoration: none;
 background: url('../../../data/layout/www/menu_left_item_bg_h.jpg') no-repeat;
}
#menu_left ul li a.level2{
 display: block;
 padding: 5px 5px 5px 20px;
 margin-left: 20px;
 color: #555;
 background: #fff url('../../../data/layout/www/menu_left_subitem_bg.png') no-repeat 4px 5px;
}
#menu_left ul li a.level2:hover, #menu_left ul li a.level2._h{
 display: block;
 padding: 5px 5px 5px 20px;
 margin-left: 20px;
 border-radius: 8px;
 color: #fff;
 border-bottom: 1px solid #5E524A;
 background: #5E524A url('../../../data/layout/www/menu_left_subitem_bg_h.png') no-repeat 4px 5px;
}

/* SUBPAGE BANNRES */
#banners_left{
 margin-top: 0px;
 text-align: center;
}
#banners_left a{
 display: block;
 margin: 10px 0px;
}
#banners_left img{
}


/* CONTENT CLASSES */
.content_container {
  padding-top: 10px;
}
.content_title{
  /*color: #0B97E4;*/
  color: #21614c;
  font-weight: bold;
  font-size: 12px;
}
.content_line {
  height: 1px;
  border-bottom: 1px solid #9CB630;
  margin-bottom: 3px;
}
.content_item {
 padding-left: 10px;
 padding-bottom: 5px;
 margin-bottom: 5px;
}
.content_item  a{
  color: #000;
}
.content_item  a:hover{
  color: #9E9D8E;
}
.content_img{
 float: left;
 margin-right: 7px;
}
.content_date{
  padding-bottom: 5px;
}
.content_text {
  padding: 10px 0px;
}
.more {
  clear: both;
  color: #2D5775;
  padding: 2px 5px;
  display: block;
  float: right;
}



/* FOOTER */
#footer {
  clear: both;
  padding: 2px 12px 20px 12px;
  font-family: Calibri;
  margin: 0 auto;
}
#footer_left{
  float: left;
  width: 70%;
}
.footer_menu{
 margin-left: 10px;
}
.footer_menu ul {
 padding: 0px;
 margin-left: 20px;

}
.footer_menu ul li{
 padding: 3px 0px 0px 15px;
 margin: 0px 5px;
 display: inline;

}
.footer_menu ul li a{
 padding: 8px 0px;
 font-size: 12px;
 color: #4e545e;
}
#footer_right{
  float: right;
  width: 24%;
}
#footer_info{
 font-size: 12px;
 text-align: right;
 color: #777;
}

/* COMMON CLASESS */
.button{
 background: #21614c;
 border: 1px solid #2d5775;
 border-radius: 8px;
 color: #fff;
 padding: 10px 20px;
 cursor: pointer;
}
.displayBlock{
  display: block;
}
.alignCenter{
  text-align: center;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.clearBoth{
  clear: both;
}
.marginAuto{
  margin: auto auto;
}
.noBorder {
 border: 0px;
}
.iconLeft{
  vertical-align: middle;
  margin-right: 5px;
}
.noMargin{
 margin: 0px;
}
.red{
 color: #CE3131;
}



/* Media queries */



@media screen and (max-width : 1374px) {
	#header {
	
	}
	#wrapper {
	
	}
	#searcher {
		margin-right: 80px;
	}
	#slider_play {
	}
	#main_menu {
		margin: 0px 16px;
		padding-left: 40px;
	}
	#main_menu .main_menu_item {
		padding: 4px 6px;
	}
	.home_left_l {
		min-width: 600px;
	}
	.home_right_s {
		min-width: 120px;
		width: 24%;
	}
	.home_box_movie {
		width: 96%;
	}
	.home_box_history {
		float: none;
		margin: 0 auto;
	}	
	.home_box_history .home_box_content {
		margin-top: 24px;
	}
}
@media screen and (max-width : 1023px) {
	#header {
		margin-top: 60px;
	}
	#wrapper {
	
	}
	#top_nav {
		height: 60px;
		margin-top: -20px;
	}
	#searcher {
		margin-right: 0px;
		height: 30px;
		width: 410px;
	}
	#searcher .searcher_input {
		margin-top: 8px;
	}
	#header_left {
		width: 92%;
	}
	#header_right {
		width: 8%;
	}
	#header_info {
		min-width: 260px;
		margin-left: -180px;
	}
	#air_info {
		width: 220px;
		margin-left: -120px;
		margin-top: 20px;
	}
	#main {
		width: 86%;
	}
	#main_menu {
		max-width: 740px;
		padding-left: 4px;
		margin-left: 28px;
		margin-right: 8px;
	}
	#main_menu .main_menu_drop {
		left: 4px;
		margin-top: 28px;
	}
	#main_menu .main_menu_over {
		margin-top: -22px;
	}
	#main_menu .main_menu_item {
		padding: 4px 12px;
	}
	.main_menu_drop_top {
		width: 760px;
		background-size: 100% 100%;
	}
	.main_menu_drop_middle {
		width: 760px;
		background-size: 100% 100%;
	}
	.main_menu_drop_bottom {
		width: 760px;
		background-size: 100% 100%;
	}
	.main_menu_drop_container {
		width: 160px;
	}
	.main_menu_item_text {
		font-size: 12px;
		padding: 8px 4px;
	}
	.main_menu_item_text:hover {
		font-size: 12px;
		padding: 8px 4px;
		margin-top: -1px;
	}
	.main_menu_over_left {
		width: 20px;
		height: 60px;
		background-size: 100% 100%;
	}
	.main_menu_over_middle {
		padding-top: 10px;
		background-size: 100% 100%;		
	}
	.main_menu_over_middle a {
		padding: 8px;
		margin-top: 8px;
	}
	.main_menu_over_right {
		width: 20px;
		height: 60px;
		background-size: 100% 100%;
	}
	.main_menu_over_middle a {
		font-size: 12px;
	}
	.main_menu_drop_title {
		font-size: 14px;
	}
	.main_menu_drop_content ul li a {
		font-size: 10px;
	}
	.home_news_item_title {
		font-size: 12px;
	}
	.home_news_item_title a {
		font-size: 12px;
	}
	.home_news_item_text {
		font-size: 11px;
		line-height: 14px;
		max-height: 28px;
	}
	.home_left_l {
		width: 100%;
		min-width: 0px;
	}
	.home_right_s {
		width: 100%;
	}
	.home_box_movie {
		width: 92%;
		min-height: 260px;
	}
	.home_box_history .home_box_content {
		margin-top: 16px;
	}
	
	.banners_home a {
		width: 40%;
		margin-left: 8%;
		min-width: 160px;
		max-width: 210px;
	}
}
@media screen and (max-width : 767px) {
	#main {
		width: 92%;
	}
	#header {
		padding-left: 10px;
		padding-right: 10px;
		background-image: none;
	}
	#wrapper {
	
	}
	#top_nav {
		width: 80%;
	}
	#top_nav a {
		padding: 10px 24px;
	}
	#iconLinks {
		margin-top: 0px;
	}
	#header_left {
		background-position-x: 450px;
		background-size: auto 40%;
	}
	#header_info {
		width: 120px;
		min-width: 120px;
		margin-top: -15px;
		margin-left: -80px;
	}
	#air_info {
		margin-top: 16px;
	}
	#main_menu {
		max-width: 640px;
		margin-left: 36px;
		margin-right: 8px;
	}	
	#main_menu .main_menu_item {
		padding: 2px 2px;
	}
	.main_menu_drop_top {
		width: 620px;
		background-size: 100% 100%;
	}
	.main_menu_drop_middle {
		width: 620px;
		background-size: 100% 100%;
	}
	.main_menu_drop_bottom {
		width: 620px;
		background-size: 100% 100%;
	}
	.main_menu_drop_container {
		width: 260px;
	}
	.main_menu_drop_container:nth-child(odd) {
		clear: both;
	}
	.main_menu_item_text {
		font-size: 12px;
		padding: 6px 4px;
	}
	.main_menu_item_text:hover {
		font-size: 12px;
		padding: 6px 4px;
		margin-top: -1px;
	}
		
	#searcher {
		height: 25px;
		width: 360px;
		margin-top: 140px;
		padding-left: 4px;
		padding-right: 4px;
	}
	#slider {
		float: none;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 8px;
		min-height: 360px;
	}
	#slider .slide_item_content {
		min-width: auto;
		height: 120px;
	}
	#slidePager {
		left: 12%;
	}
	#slider_play {
		left: calc(12% + 180px);
	}
	#home_news {
		width: 96%;
	}
	.home_box_movie {
		width: 96%;
		min-height: 220px;
	}
	#subpage_left {
		width: 200px;
	}
	.subpage_text img {
		max-width: 100%;
		max-height: 100%;
	}
	#subpage_content {
		float: left;
		min-width: 280px;
		padding-right: 8px;
	}
	#menu_left_title {
		font-size: 16px;
	}
	#menu_left ul li a {
		font-size: 11px;
	}
	.banners_home a {
		max-width: 240px;
		min-width: 210px;
	}
}
@media screen and (max-width : 639px) {
	#main {
		width: 96%;
	}
	#wrapper {
	
	}
	#header {
	
	}
	#header_left {
		background-position-x: 350px;
		background-size: auto 30%;
	}
	#header_title {
		width: 360px;
		height: 90px;
		background-size: 100% 100%;
	}
	#header_info {
		width: 140px;
		min-width: 80px;
		max-width: 160px;
		margin-left: -100px;
	}
	#air_info {
		margin-top: 10px;
	}
	#main_menu {
		height: 62px;
		margin-left: 36px;
		margin-right: 8px;
	}
	.main_menu_item_text {
	}
	.main_menu_item_text:hover {
	}
	.main_menu_over_left {
		width: 16px;
	}
	.main_menu_over_middle a {
	}
	.main_menu_over_right {
		width: 16px;
	}
	.main_menu_drop {
		width: 100%;
	}
	.main_menu_drop_container {
		width: 200px;
		margin-right: 4px;
	}
	.main_menu_drop_top {
		width: 100%;
		background-size: 100% 100%;
	}
	.main_menu_drop_middle {
		width: 100%;
		background-size: 100% 100%;
	}
	.main_menu_drop_bottom {
		width: 100%;
		background-size: 100% 100%;
	}
	#slider {
		width: 96%;
		max-width: 420px;
		min-height: 300px;
	}
	#slider .slide_item_title a {
		font-size: 14px;
	}
	#slider .slide_item_text {
		font-size: 12px;
	}
	#slider .slide_item_content {
		height: 80px;
	}
	/*
	.home_left_c {
		float: left;
		display: block;
		width: 100%;
		border: none;
	}
	.home_left_r {
		float: left;
		display: block;
		width: 100%;
		border: none;
	}
	*/
	#gallery {
		min-width: 170px;
		padding: 2px;
	}
	.home_box_calendar {
		width: 100%;
	}
	#calendar {
		max-width: 265px;
		margin: 0 auto;
	}
	.home_left_c {
		width: 180px;
	}
	.home_left_c .home_box_s {
		float: none;
		width: 180px;
		margin: 0 auto;
	}
	.home_right_c .home_box {
		width: 96%;
		min-width: 240px;
	}
	.home_right_c .home_box_s {
		float: none;
		margin: 0 auto;
	}
	.home_box_header {
		padding: 4px 0px 0px 20px;
	}
	.home_box_content {
		padding: 4px;
	}
	.home_box_movie {
		min-height: 190px;
	}
	.home_box_movie .home_box_content {
		margin-top: 8px;
	}
}
@media screen and (max-width : 479px) {
	#main {
		width: 96%;
		min-width: 280px;
		padding: 2%;
	}
	#content {
		padding: 2px;
	}
	#header {
	
	}
	#wrapper {
	
	}
	#header_left {
		background-image: none;
	}
	#top_nav {
		width: 70%;
	}
	#top_nav a {
		padding: 4px 8px;
		font-size: 10px;
	}
	#iconLinks {
		width: 340px;
		margin-top: 8px;
	}
	#iconLinks img {
		max-width: 32px;
		max-height: 32px;
	}
	#iconLinks a {
		margin: 0px 3px;
		font-size: 10px;
	}
	#iconLinks .menu_separator {
		width: 5px;
		height: 48px;
	}
	#header_title {
		width: 280px;
		height: 70px;
		margin-top: 72px;
	}
	#header_info {
		font-size: 10px;
		width: 120px;
		margin-left: -90px;
		margin-top: -22px;
	}
	#air_info {
		margin-top: 20px;
		margin-left: -160px;
	}
	#searcher {
		height: 20px;
		width: 260px;
	}
	#searcher .searcher_input {
		margin-top: 2px;
		margin-left: 10%;
		width: 60%;
	}
	#main_menu {
		max-width: 340px;
		height: 50px;
		margin-left: 30px;
	}	
	#main_menu .main_menu_item {
		padding: 2px 4px;
	}
	.main_menu_drop_top {
		width: 100%;
		background-size: 100% 100%;
	}
	.main_menu_drop_middle {
		width: 100%;
		background-size: 100% 100%;
	}
	.main_menu_drop_bottom {
		width: 100%;
		background-size: 100% 100%;
	}
	.main_menu_drop_container {
		width: 260px;
	}
	.main_menu_drop_container:nth-child(odd) {
		clear: both;
	}
	.main_menu_item_text {
		font-size: 10px;
		padding: 4px 2px;
	}
	.main_menu_item_text:hover {
		font-size: 10px;
		padding: 4px 2px;
		margin-top: -1px;
	}
	.main_menu_over_left {
		width: 16px;
		height: 50px;
	}
	.main_menu_over_middle {
		padding-left: 2px;
		padding-right: 2px;
		padding-top: 4px;
	}
	.main_menu_over_middle a {
		font-size: 10px;
	}
	.main_menu_over_right {
		width: 16px;
		height: 50px;
	}
	#main_menu .main_menu_over {
		margin-top: -20px;
	}
	#main_menu .main_menu_drop {
		margin-top: 20px;
	}
	.main_menu_drop_title {
		font-size: 12px;
	}
	.main_menu_drop_content ul li {
		padding: 3px 2px 3px 18px;
	}
	.main_menu_drop_content ul li a {
		font-size: 10px;
		padding: 2px 0px;
	}
	.home_left_c {
		display: block;
		float: left;
		border: none;
		width: 100%;
	}
	.home_left_r {
		display: block;
		float: left;
		width: 100%;
	}
	#subpage_content {
		width: 98%;
		padding-left: 8px;
		padding-right: 4px;
	}
	#slider {
		min-height: 240px;
		max-width: 320px;
		margin-bottom: 4px;
	}
	#slider .slide_item_title {
		font-size: 12px;
	}
	#slider .slide_item_title a {
		font-size: 12px;
	}
	#slider .slide_item_text {
		font-size: 11px;
		line-height: 14px;
		max-height: 28px;
	}
	#slider .slide_item_content {
		height: 60px;
	}
	
}



