div.jMyCarousel .prev{
	background: url('../images/left.png') center center no-repeat;
	width:47px;
	height:61px;
	border:0px;
	cursor: pointer;
}

div.jMyCarousel .next{
	background: url('../images/right.png') center center no-repeat;
	width:40px;
	height:61px;
	border:0px;
	cursor: pointer;
}

div.jMyCarousel .up{
	background: url('../images/up.html') center center no-repeat;
	width:61px;
	height:40px;
	border:0px;
}

div.jMyCarousel .down{
	background: url('../images/down.html') center center no-repeat;
	width:47px;
	height:61px;
	border:0px;
}

/** Carousel **/
#jMyCarousel_box {
    padding: 10px 15px;
    background: url('../images/slider_bg.jpg') center center no-repeat;
}

div.jMyCarousel{
	margin:auto;
}

div.jMyCarousel ul {
	/*background-color:#000;	*/
}

div.jMyCarousel ul li {
	margin: 0px 5px;
	line-height:0px;
	padding: 7px 6px;
}

div.jMyCarousel ul li:hover {
    sborder: 0px;
	background: url('../images/slider_item_bg.jpg') center center no-repeat;
}

div.jMyCarousel ul li a{ /* in case of link */
	display:block;
	margin:0px;
	padding:0px;
}

div.jMyCarousel ul li a img{
	display:block;
	border:0px;
	margin-bottom:0px;
	padding-bottom:0px;
}

#shortImagesList{
   padding-top: 5px;
   padding-bottom: 7px;
}

#shortImagesList ul li{
   display: inline;
}
#shortImagesList ul li div{
   margin-right: 15px;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	filter: alpha(opacity=80);
	opacity: 0.8;	
}
#tooltip h3, #tooltip div {
    margin: 0;
    font-size: 12px;
    _width: 250px;
}


