.structure_photo{
 width: 200px;
 height: 230px;
 padding: 7px 10px;
 background: url('../../../../data/layout/www/photo_bg.html') no-repeat;
}
.structure_chairmen_name{
 font-size: 16px;
 padding: 7px 0px;
 color: #656565;
}